
* {
    /* background-color: black; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* Navigation links */
.f-nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 20px;
}
body , html {
    overflow-x: hidden;
}
.active {
    color: #fc036b;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
.f-nav ul {
    display: flex;
    color:  whitesmoke;

}

.f-nav  ul li {
    list-style: none;
    padding: 20px;
}

.fnav ul li a {
    color: white;
}

.f-nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #fc036b;
    display: block;
    margin: auto;
    transition: 0.8s;
}

.f-nav ul li:hover::after{
    width: 100%;
    transition: 0.8s;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/b3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.touch {
    color: #fc036b;
} 

.head-cont{
    /* margin-bottom: 150px; */
    color: white;
    text-align: center;

}

.head-cont h2 {
    font-size: 4vmin;
    font-weight: 50;
}

.line {
    width: 150px;
    height: 5px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.head-cont h1 {
    font-size: 5vmin;
    font-weight: 20;
    margin-top: 30px;
    margin-bottom: 40px;
}

.head-cont a {
    margin: 100px;
    padding: 15px 25px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.5s;
}

.head-cont a:hover {
    background-color: #fc036b;
    transition: 0.5s;
}

nav ul {
    align-items: center;
}

.f-nav .fa-solid {
    display: none;
}


section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(21, 19, 27);
}

.row {
    display: flex;
}

.row .col {
    padding: 20px;
    text-align: center;
    
}

.col img {
    /* align-items: center; */
    width: 100%;
    /* height: 200PX; */
    border-radius: 20px;
}

.col h4 {
    text-align: left;
    margin: 20px 0px 20px 0px;
    color: #fc036b;
    font-size: 3vmin;
}

.col p {
    line-height: 25px;
    color: #7c7c7c;
    font-weight: 450;
    margin-bottom: 20px;
    text-align: left;
}
.col .patch {
    
    /* margin-top: 20px; */
    color: #7c7c7c;
    background-color: transparent;;
    padding: 10px;
    border: 2px solid #fc036b;
    border-radius: 5px;
    transition: 0.6s;
    
}

.col .patch:hover{
    background-color: #fc036b;
    color: white;
    transition: 0.6s;
}
.patch {
    
    /* margin-top: 20px; */
    color: white;
    background-color: #fc036b;
    padding: 10px;
    border: 2px solid #fc036b;
    border-radius: 5px;
    transition: 0.6s;
    
}

.patch:hover{
    background-color: transparent;
    color: #fc036b;
    transition: 0.6s;
}

.happening .row {
    margin-top: 20px;
}

.explore {
    width: 100%;
    height: 80vh;
    background-image: url('img/bb10.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.explore-cont {
    width: 50%;
    padding: 50px;
    color: rgb(241, 239, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-cont h1 {
    font-size: 7vmin;
    margin-bottom: 40px;
    
}

.explore-cont .line {
    margin-bottom: 20px;
    height: 5px;
}
.explore-cont p {
    margin-bottom: 50px;
    line-height: 20px;
    color: rgb(218, 210, 210);
}

.upcoming .row {
    align-items: center;
}
.upcoming .row .col {
    width: 50%;
}
.upcoming .img-gal {
    display: flex;
    flex-wrap: wrap;
}

.img-gal img {
    border-radius: 0px;
    width: 200px;
}

/* Mobile Screen Device */
@media only screen and (max-width:768px){
    .f-nav {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;

    }
    .f-nav ul{

        position: absolute;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(21, 19, 27);
        margin-top: -900px;

    }
    .mobile-menu {
        margin-top: 0px;
    }
    .f-nav .fa-solid {
        position: absolute;
        display: block;
        top: 40px;
        left: 90%;
        cursor: pointer;

    }
    .row {
        flex-direction: column;
        justify-content: space-between;
    }
    .happening .col:nth-child(1) {
        margin-bottom: 30px;
      }
      
    .col p {
        line-height: 20px;
        margin-bottom: 30px;
    }
    .col h4 {
        font-size: larger;
    }

    .happening a {
        margin-bottom: 20px;
    }


    .explore {
        position: relative;
        background-image: linear-gradient(rgba(47, 52, 66, 0.7), rgBa(4,9,30,0.7)),url("img/bb14.jpg");

    }
    .explore-cont {
        /* margin-top: 190px; */
        padding-left: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        /* top: 50px; */
    }
    .explore-cont p {
        color: white;
    }

    .explore-cont .patch {
    
        /* margin-top: 20px; */
        color: white;
        background-color: transparent;;
        padding: 10px;
        border: 2px solid #fc036b;
        border-radius: 5px;
        transition: 0.6s;
        
    }
    
    .explore-cont .patch:hover{
        background-color: #fc036b;
        color: white;
        transition: 0.6s;
    }
}

